/* ---------------------------Google font import */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');


/* ---------------------------Colours */

header {
    background-color: #3c4048;
}

.name, .title {
    color: #eaeaea;
}

/* ---------------------------Special paddings/margins/text */

h1,h2,h3,h4 {
    margin: 0;
}

.name {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 25px;
}

.title {
    font-family: 'Mukta', sans-serif;
    margin-left: 25px;
}

#nav > li {
    border: none;
}

.nav-links {
    font-family: 'Mukta', sans-serif;
    font-size: 1.2em;
}

.list-group-item  {
    background: none;
    color: #eaeaea;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

.list-group-item span {
    display: block;
}

a {
    text-decoration: none;
    color: #eaeaea;
}