/* ---------------------------Google font import */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');

/* ---------------------------Colours */

body {
    background-color: #eaeaea;
}

header {
    background-color: #3c4048;
}

.name, .title {
    color: #eaeaea;
}

footer {
    background-color: #3c4048;
}

.p-info-detail {
    color: #eaeaea;
}

/* ---------------------------Special paddings/margins/text */

h1,h2,h3,h4 {
    margin: 0;
}

.name {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 25px;
}

.title {
    font-family: 'Mukta', sans-serif;
    margin-left: 25px;
}

#nav > li {
    border: none;
}

.nav-links {
    font-family: 'Mukta', sans-serif;
    font-size: 1.2em;
}

.list-group-item  {
    background: none;
    color: #eaeaea;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

.list-group-item span {
    display: block;
}

a {
    text-decoration: none;
    color: #eaeaea;
}

.p-info {
    color: #eaeaea;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

.foot-info {
    text-align: center;
}

.foot-down {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

.foot-down a i {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

.foot-links {
    text-align: center;
    margin-top: 20px;
    padding: 0;
}

.color-change {
    transition: 1s;
}

.color-change:hover {
    color: #00abb3;
    transition: 1s;
} 

.social-links {
    font-size: 2em;
    margin: 10px;
}

.p-info-detail {
    margin: 5px;
    font-family: 'Mukta', sans-serif;
}

.about-header {
    font-family: 'Ubuntu', sans-serif;
    color: #3c4048;
}

.about-text {
    
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    text-align: left;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2em;
    color: #3c4048;
}

/* ---------------------------images */

img {
    height: auto;
    max-width: 80%;
    margin: 20px 0 20px 0;
    padding: 0;
}
